body {
    background-color: rgb(171, 172, 183);
    font-family: arial;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}

.header {
    text-align: center;
    height: 250px;
    /* padding: 30px;
    background-image: url("https://sgtautotransport.com/storage/LHHnuLYBuP5Hp8RpJMXZTSNfNUchUKQV5iBayM2h.jpeg"); */
    background-image: url("https://wallpaperaccess.com/full/438419.jpg");
    background-size: cover;
    /* Dopasuj obrazek do rozmiaru sekcji */
    background-position: center;
    /* Ustawienie pozycji obrazka */
    background-repeat: no-repeat;
    /* Wyłącz powtarzanie obrazka */
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    /* Dodaj cień: poziomo, pionowo, rozmycie, kolor (RGBA) */
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.introduction {
    margin-top: 50px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: rgb(0, 0, 0);
    border-radius: 70px;
    border-style: solid;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.introduction img {
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
    width: 250px;
    height: 150px;
    transition: transform 0.5s ease-in-out;
}

.introduction img:hover {
    transform: scale(1.1);
}

.caption {
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.header h1 {
    font-size: 45px;
    margin-top: 100px;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
}


input,
select {
    background-color: #c6c6c6 !important;
    /* "!important" nadaje pewność, że dana reguła stylu zostanie zastosowana, 
    nawet jeśli inne reguły próbują ją przysłonić*/
}

.container {
    width: 95%;
    height: 800px;
    /* margin-top: 35px; 
    margin-left: 20px; 
    margin-right: 20px; */
    background-image: linear-gradient(to bottom right, rgb(116, 134, 165), rgb(191, 217, 228));
    /* background-color: rgb(41, 44, 47); */
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: rgb(156, 162, 171);
    border-radius: 10px;
    border-style: dotted;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    bottom: 200px;
    /* max-height: 1000px;   */
    /* Ustaw maksymalną wysokość, aby uniknąć przewijania w górę */
    overflow-y: auto;
    /* Dodaj overflow-y: auto, aby tabela rozciągała się tylko w dół */
    position: absolute;
    top: 500px;
}


table thead tr th,
table thead tr td,
table tfoot tr th,
table tfoot tr td {
    background-color: #000;
    color: #fff;
}


#example_filter {
    margin-bottom: 20px;
}


.textcont {
    width: 1300px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, rgb(116, 134, 165), rgb(191, 217, 228));
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 200px;
    position: absolute;
    top: 1400px;
    transition: transform 0.3s ease;
}
.textcont:hover {
    transform: scale(1.1);
}




img {
    max-width: 100%;
    max-height: 100%;
}

.text {
    font-size: 20px;
}

.chart-container {
    position: absolute;
    top: 1900px;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 100px;
    /* transition: transform 0.5s ease-in-out; */
}

.chart {
    width: 1300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.5s ease-in-out;
}

.chart:hover {
    transform: scale(1.1);
    background-color: rgb(168, 182, 196);
}

.second-chart-container {
    position: absolute;
    top: 2600px;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 100px;
}

.second-chart {
    width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.5s ease-in-out;
}

.second-chart:hover {
    transform: scale(1.1);
    background-color: rgb(168, 182, 196);
}